[run]
omit =
    act/tests/*
	act/*version*py
	versioneer.py
	setup.py
	act/plotting/histogramdisplay.py
    act/discovery/get_arm.py
    act/discovery/arm.py
    act/discovery/asos.py
    act/discovery/cropscape.py
    act/discovery/neon.py
    act/discovery/noaapsl.py
    act/discovery/surfrad.py
