include CONTRIBUTING.rst
include README.rst
include CREATING_ENVIRONMENTS.rst
include requirements.txt
include requirements-dev.txt
include LICENSE.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include act/plotting *.txt
recursive-include tests *.py *.png
recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include act/_version.py

include act/utils/conf/de421.bsp

include act/io/conf/*.yaml

# If including data files in the package, add them like:
# include path/to/data_file
