# List required packages in this file, one per line.
pyproj
numpy
pandas
matplotlib
scipy
xarray
dask
distributed
pint
requests
six
skyfield
cftime
netcdf4
lazy_loader
fsspec
metpy
lxml
cmweather
aiohttp>=3.9.0b1
